# -- EXTRACTORS CREDENTIALS --
FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=

USAJOBS_API_KEY=
USAJOBS_EMAIL=

# -- DATABASE --
DB_PATH=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD= 

# -- SCRIPT --
MAX_TOTAL_DETAILS=
MAX_DEPTH=
TRANSFORM_BATCH_SIZE=25

# -- LLM MODEL --
LLM_MODEL=
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_API_KEY=ollama
EMBEDDING_MODEL=nomic-embed-text

# -- QDRANT --
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=job_offers
QDRANT_VECTOR_SIZE=768
